<ion-header>
  <ion-toolbar>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Philosophy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Our Philosophy is to provide a safe and stable environment for our energy providers. And to do so we need your help.

      While your electric vehicle is standing idle, you could earn some Loyalty points with it! These can be spent at our partners establishments and for some of their services!
      Simply plug your car into a Charging point and confirm your settings!
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Settings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Our Philosophy is to provide a safe and stable environment for our energy providers. And to do so we need your help.
  
        While your electric vehicle is standing idle, you could earn some Loyalty points with it! These can be spent at our partners establishments and for some of their services!
        Simply plug your car into a Charging point and confirm your settings!
      </ion-card-content>
    </ion-card>

</ion-content>
