<ion-header>
  <ion-toolbar>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Philosophy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Our Philosophy is to provide a safe and stable environment for our energy providers. And to do so we need your help.

      While your electric vehicle is standing idle, you could earn some Loyalty points with it! These can be spent at our partners establishments and for some of their services!
      Simply plug your car into a Charging point and confirm your settings!
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Settings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          <b>Battery Level</b>
        </ion-card-subtitle>
        The battery level describes the current state of Charge of the vehicles battery.<br>
        <ion-card-subtitle>
          <b>Current time</b>
        </ion-card-subtitle>
        Should be self explanatory, it shows you the current time!<br>
        <ion-card-subtitle>
          <b>Departure Time</b>
        </ion-card-subtitle>
        Here you should enter the time of your next departure.<br>
        <ion-card-subtitle>
          <b>Target Battery Level</b>
        </ion-card-subtitle>
        The Target Battery Level describes the state of Charge you expect at the Departure time. It will always be fulfilled if physical limitations allow for it.<br>
        <ion-card-subtitle>
          <b>Min. Battery Level</b>
        </ion-card-subtitle>
        Here you can apply the lower limit for the charging process.<br>
        <ion-card-subtitle>
          <b>Max. Battery Level</b>
        </ion-card-subtitle>
        Here you can apply the upper limit for the charging process.<br>
        <ion-card-subtitle>
          <b>Bonus</b>
        </ion-card-subtitle>
        This field shows your projected gain of Bonus-Points!<br>
      </ion-card-content>
      
    </ion-card>

</ion-content>
