<ion-header>
  <ion-toolbar>
    <ion-title>How does it work?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is happening?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      If you decide to charge your car and provide flexibility you will be rewarded!<br>
      When you confirm the settings we're calculating the difference between your current State of Charge and the Target State of Charge. For this difference you pay the normal fees.<br><br>
      Whenever the minimum state of charge is reached your electronic vehicle battery will be used to support the electrical grid to flatten the peaks in demand and oversaturation.<br><br>
      But at most going up to your maximum state of charge.<br>
      For providing that flexibility you will be rewarded with EVToken.<br><br>
      If you have to leave in a case of emergency, you will only be charged for the difference between the starting charge and the current charge.
    </ion-card-content>
    </ion-card>
</ion-content>
